.media.mt-3
  %img.img-thumbnail.d-flex.mr-3{alt: item.rank, src: 'https://source.unsplash.com/random/120x120?sig=%d' % item.rank, style: 'width: 120px; height: 120px;' }
  .media-body
    %h5.mt-0.display-5
      = link_to_unless item.url?.blank?, item.title, item.url, data: {rank: item.rank} do
        - link_to item.title, 'https://news.ycombinator.com/item?id=%d' % item.id, data: {rank: item.rank}
