.media.mt-1.mb-3{data: {rank: 'TOP %d' % story.top_rank}}
  .media-body
    .text-muted
      = t('story.take_time_to_be_top', topn: story.top_rank, range: distance_of_time_in_words(story.hacker_news_item.time, story.top_at)).html_safe
    .media= render story.hacker_news_item
