@import 'bootstrap';

.navbar.sticky-top
{
  opacity: .91;
}

.media > img.media-img
{
  opacity: .54;
  width: 80px;
  height: 80px;
}

.media[data-rank] a
{
  color: #147;
  opacity: .91;
}

.media[data-rank]::before
{
  opacity: .38;
  content: attr(data-rank);
  // margin-right: .54rem;
  position: relative;
  right: 1rem;
  width: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border-width: thin 0 0 thin;
  border-color: lightgrey;
  border-style: double;
}

::-moz-selection {
  background: darken($orange, 8%);
  color: $gray-100;
  text-shadow: 0 0 transparent
}

::selection {
  background: darken($orange, 8%);
  color: $gray-100;
  text-shadow: 0 0 transparent
}
